.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 20px;
}

input[type=checkbox]:focus {
    outline: 0;
}